* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: "Heebo", sans-serif;
}

.landing {
  min-height: 100vh;
  background: url("images/moun.jpg");
  background-size: cover;
  padding: 0rem 5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  padding-left: 10rem;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}
#logo {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: rgb(255, 255, 255);
}
.big-text1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: rgb(255, 255, 255);
}
.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background: rgb(255, 255, 255);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(255, 255, 255);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

img{
  width: 300px;
  height: 200px;
}

p{
  font-family: "Heebo", sans-serif;
  position: center;
}

/* marques*/

.container{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
    
.container .card{
  position: relative;
  width: 300px;
  height: 200px;
}

.container .card .face{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.container .card .face .face1{
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: bottom;
}

.container .card .face .face1 img{
  max-width: 10px;
}

.content{
  transition: 0.5s ease;
}

.content:hover{
  transform: scale(1.05);
  transition: .5s ease;
}

/*Pour la section video*/
.video {
  min-height: 100vh;
  background: url("images/island.mp4");
  background-size: cover;
  padding: 0rem 5rem;
}

.text-video {
  position: absolute;
  top: 170%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "lora", cursive;
  color: red;
}
.text-video1 {
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: red;
}

/*Pour la section toucan*/

.slider1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

section{
  padding-left: 150px;
  padding-top: 100px;
  height: 80vh;
  justify-content: center;
  align-items: center;
  background: white;
}


.hero{
  height: 60%;
  width: 100%;
  position: relative;
}

.hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}  

.headline{
  position: absolute;
  top: 70%;
  left: 10%;
  font-size: 100px;
  transform: translate(-20%, -70%);
  color: azure;
  z-index: 3;
}

.hero::after{
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.1;
  left: 0;
}